<section class="login-page">

  <form class='form login' action="<%= session_url %>" method="post" accept-charset="utf-8">

    <h2 class="page-title">Login!</h2>

    <%= token_tag nil %>

    <p class='form_field input'>
      <label>
        username:
        <input class='input-field' type='text'
          name='user[username]' value=''>
      </label>
    </p>

    <p class='form-field input'>
      <label>
        password:
        <input class='input-field' type='password'
          name='user[password]' value=''>
      </label>
    </p>

    <p class='form-field button'>
      <input class='button' type="submit" value="Continue &rarr;">
    </p>
  </form>
</section>