<section class="articles standalone-document">
	<article class="document group">
		
		<p class='document-text'>
			<%= doc.annotated_body %>
		</p>
		<h2 class="document-title group">
		console.log(this)
			<a href="<%= CodeKindaSmart.doc.url %>" class='document-title'>
			<%= doc.title %>
			</a>
		</h2>

	</article>
	
</section>