<section class="annotations activeAnnotations" id="<%= 'ann-' +  annotationId %>">


	<%_.each(annotations, function(annotation) { %>
		<section class="annotation-wrapper">
			<section class="annotation">
				<h2 class="annotation-title"><%= annotation.attributes.title %></h2>
				<span class="annotation-body group"> <%= annotation.attributes.body %> </span>


			<% if(CodeKindaSmart.currentUser) { %>

		  <article class="annotation-buttons group">

				<div class="votes group">
				  <form class='upvote' action="">
				    <input type="hidden" name="vote[annotation_id]" value="<% annotation.attributes.id %>">
				    <input type="hidden" name="vote[user_id]" value='<%CodeKindaSmart.currentUser.id%>'>
				    <% if(annotation.attributes.user_vote === 'UpVote'){ %>
				    	<p class="my-vote button">
				    <% } else { %>
							<p class="button">
				    <% } %>
				      <input type="submit" class="vote upvote" value='&#xf164;'>
				    
				    </p>
				  </form>


				  <form class='downvote' action="">
				    <input type="hidden" name="vote[annotation_id]" value="<% annotation.attributes.id %>">
				    <input type="hidden" name="vote[user_id]" value='<%CodeKindaSmart.currentUser.id%>'>
				    <% if(annotation.attributes.user_vote === 'DownVote'){ %>
				    	<p class="my-vote button">
				    <% } else { %>
							<p class="button">
				    <% } %>
				      <input type="submit" class="vote downvote" value="&#xf165;">
				    </p>
				  </form>
				</div>

			  <% if(annotation.attributes.user_id == CodeKindaSmart.currentUser.id) { %>
			  	<form action="< //%= edit_annotation_url(annotation.id) %>" method="get">

						<p class="edit-annotation button group">
							<label for="Edit">Edit this annotation?</label>
							<input type="submit" id="Edit" value="Edit!">
						</p>

					</form>

				<p class="break"></p>


					<section>
						<form class="form-delete-annotation" action="" method="delete">
							<input type="hidden" name='annotation[id]' value="<%= annotation.id %>">

							<p class="button destroy group">
								<label for="delete-button">Delete this Annotation?</label>
								<input type="submit" class="delete-annotation" id="delete-button" value="Delete!">					
							</p>
						</form>
					</section>
				<% } %>
				
			<% } %>



			</article>
		</section>
	<% }); %>

</section>
