<div class="votes group">

  <form action="<%= annotation.id %>">
    <input type="hidden" name="vote[annotation_id]" value="<% annotation.id %>}">
    <p class="button">
      <input type="submit" class="vote" value='&#xf164;'>
    </p>
  </form>

  <form action="<%= annotation.id %>">
    <input type="hidden" name="vote[annotation_id]" value="<% annotation.id %>}">
    <p class="button">
      <input type="submit" class="vote" value="&#xf165;">
    </p>
  </form>

</div>