<section class="author">

<%= render partial: "author_name", locals: {author: @author} %>

<strong class="section-title group">
	Description
</strong>
<p>
	<% if @author.description %>
		<%= @author.description %>
	<% end %>
</p>

<strong class="section-title group">
	Location
</strong>
<p>
<% if @author.location %>
	<%= @author.location %>
<% end %>
</p>
	


</section>


