<h1>New User</h1>

<form class='form' action="<%= users_url %>" method="post" accept-charset="utf-8">

  <%= token_tag nil %>

  <p class='form_field'>
    <label>
      username:
      <input class='input-field' type='text'
        name='user[username]' value=''>
    </label>
  </p>

  <p class='form-field'>
    <label>
      email:
      <input class='input-field' type='text'
        name='user[email]' value=''>
    </label>
  </p>

  <p class='form-field'>
    <label>
      password:
      <input class='input-field' type='password'
        name='user[password]' value=''>
    </label>
  </p>

  <p class='form-field'>
    <label>
      again:
      <input class='input-field' type='password'
        name='user[password_confirmation]' value=''>
    </label>
  </p>

  <p class='form-field'>
    <input class='button' type="submit" value="Continue &rarr;">
  </p>
</form>