<section class="new-user-page">

  <form class='form new-user' action="<%= users_url %>" method="post" accept-charset="utf-8">

    <h2 class="page-title">New User</h2>

    <%= token_tag nil %>

    <p class='form_field input'>
      <label>
        username:
        <input class='input-field' type='text'
          name='user[username]' value=''>
      </label>
    </p>

    <p class='form-field input'>
      <label>
        email:
        <input class='input-field' type='email'
          name='user[email]' value=''>
      </label>
    </p>

    <p class='form-field input'>
      <label>
        password:
        <input class='input-field' type='password'
          name='user[password]' value=''>
      </label>
    </p>

    <p class='form-field input'>
      <label>
        again:
        <input class='input-field' type='password'
          name='user[password_confirmation]' value=''>
      </label>
    </p>

    <p class='form-field button'>
      <input class='button' type="submit" value="Continue &rarr;">
    </p>
  </form>

</section>