<h2 class='page-title'> Hey! <%= current_user.username %> <h2>

<section>

	<h3 class="section-title"> Link up other accounts: </h3>

	<ul>
		<li>
			Facebook
		</li>
		<li>
			Github
		</li>
		<li>
			Twitter
		</li>
	</ul>
	
</section>

<section>
	
	<h3 class="section-title">Change your settings</h3>

	<form action=""></form>
	<ul>
		<li>
			
		</li>
	</ul>

</section>

