<section class="footer group">
	<h2 class="footer-title"><a href="http://www.gmmeyer.com"> &#169; Greg Meyer</a> </h2>

	<ul class="footer-list">
		<li>
			<a href="<%= root_url %>">Home</a>
		</li>
		<li>
			<a href="http://www.gmmeyer.com/contact">Contact</a>
		</li>
		<li>
			<a href="www.github.com/gmmeyer/CodeKindaSmart/">Source Code</a>
		</li>
	</ul>
</section>