<header class="header-wrapper group">
		<a id="top"></a>

  <%= render partial: "shared/dropdown" %>

  <%= render partial: "shared/upper_header" %>

	<section class="group navbar-wrapper">

  <%= render partial: "shared/lower_header" %>

 </section>

</header>