<header class="header-wrapper group">

	<section class="navbar-wrapper">

  <%= render partial: "shared/dropdown" %>

  <%= render partial: "shared/upper_header" %>

  <%= render partial: "shared/lower_header" %>

 </section>

</header>