<nav class="nav group">

  <ul class="nav-alpha">

    <li>
      	<a class='nav-link' href="<%= new_document_url %>">  
    		New Document
      	</a>
    </li>

  </ul>

  <ul class="nav-beta">
    <li class="nav-link">
  	
    </li>
  </ul>

</nav>