<nav class="nav group">

  <ul class="nav-alpha">

    <li>
      <a class="nav-link" href="<%= root_url %>">
      Home
      </a>
    <li>

    <li>
      	<a class='nav-link' href="<%= new_document_url %>">  
    		New Document
      	</a>
    </li>

  </ul>

  <ul class="nav-beta">
  	 <li>
       <a class="nav-link" href="#top">Return to the top</a>
     </li>
  </ul>

</nav>