<section class="search">

  <form action="<%= search_url %>" method="GET">

  	<p class="search-bar">
	  	<input type="text" name="query" value="<%= params[:query] %>">  		
  	</p>

   <p class="button search-button">
   	<input type="submit" value="Search!">
   </p>
  </form>

</section>