<section class="trending">

<h2> Trending <h2>

</section>

<section class='annotations'>
	
	<h2> Top Annotations</h2>

</section>

<section class="annotators">
	
	<h2> Top Annotators </h2>

</section>
