<article class="document">

	<h2 class="document-title group">
		<a href="<%= document_url(document.id) %>" class='document-title'>
		<%= document.title %>
		</a>
	</h2>

	

	<section class='document-body'>
		<p class='document-text'>
			<%= annotate_document(document, document.annotation_segments).html_safe %>
		</p>
	</section>
</article>