<!-- Am I ever going to use this view again? If not, it should be deleted. -->

<section class='index'>

  <section class='articles'>

  	<h2 class='page-title group'> 
  		Documents!
  	</h2>
		
  	<%= render partial: "document", collection: @documents %>
  </section>

</section>