<section class="articles">

  <h2 class='page-title group'> New Document </h2>

  <%= render partial: "form", locals: {document: @document, author: @author, form_type: "New"} %>

<section class="articles">