<section id="content">  
</section>

<%= content_tag :div, class: "tempInformation", data: {temp: @document.id} do %>
<% end %>

<%= content_tag :div, class: "currentUserInformation", data: {currentUser: current_user} do %>
<% end %>

<script>

  $(document).ready(function () {

  	rangy.init();

  	// highlighter.addClassApplier(rangy.createCssClassApplier("highlight", {
  	//     ignoreWhiteSpace: true,
  	//     tagNames: ["span", "a"]
  	// }));

  	// highlighter.addClassApplier(rangy.createCssClassApplier("note", {
  	//     ignoreWhiteSpace: true,
  	//     elementTagName: "a",
  	//     elementProperties: {
  	//         href: "#",
  	//         onclick: function() {
  	//             var highlight = highlighter.getHighlightForElement(this);
  	//             if (window.confirm("Delete this note (ID " + highlight.id + ")?")) {
  	//                 highlighter.removeHighlights( [highlight] );
  	//             }
  	//             return false;
  	//         }
  	//     }
  	// }));

    var doc_id = $('.tempInformation').data('temp');
    CodeKindaSmart.currentUser = $('.currentUserInformation').data('currentuser')

    _swapView = function (newView) {
		  this._currentView && this._currentView.remove();
		  this._currentView = newView;
		  $("#content").html(newView.render().$el);
		};

		showDocument = function(id) {
			that = this;
			var doc = CodeKindaSmart.documents.getOrFetch(id,
				function (doc) {
					CodeKindaSmart.doc = doc
					var view = new CodeKindaSmart.Views.DocumentsShow({
						model: doc
					});
					that._swapView(view)
				}
			);
		};

		showDocument(doc_id)
  });
  
</script>