<section class="articles">
  
  <%= render partial: "standalone_document", locals: {document: @document} %>

  <%= render partial: "annotations/new", locals: {document: @document}  %>

  		<%= render partial: "shared/delete_button", locals: {to_delete: @document, delete_url: document_url(@document.id)} %>

</section>