<section id="content">  
</section>

<%= content_tag :div, class: "tempInformation", data: {temp: @document.id} do %>
<% end %>

<script>

  $(document).ready(function () {

    var doc_id = $('.tempInformation').data('temp');

    _swapView = function (newView) {
		  this._currentView && this._currentView.remove();
		  this._currentView = newView;
		  $("#content").html(newView.render().$el);
		};

		showDocument = function(id) {
			that = this;
			var doc = CodeKindaSmart.documents.getOrFetch(id,
				function (doc) {
					CodeKindaSmart.doc = doc
					var view = new CodeKindaSmart.Views.DocumentsShow({
						model: doc
					});
					that._swapView(view)
				}
			);
		};

		showDocument(doc_id)
  });
  
</script>