<section class="annotation-wrapper">
	<section class="annotation">
		<a href="<%= '#documents/' + annotation.document_id + 'annotations/' + annotation.id %>" class='document-title'>
			<h2 class="annotation-title"><%= annotation.title %></h2>
		</a>
	</section>
</section>