<p class="Votes">
	<form action="<%= upvote_url(annotation.id) %>">
		<input type="hidden" name="params[:existing_vote]">
		<input type="text" name="" id="">
	
		
	</form>

	<form action="downvote_url(annotation.id)">
		
	</form>
</p>