<article class="document-annotated group">

	<section class="articles">

	 <article class="standalone-document group">
	  <section class="document-title group">
	    <%= render partial: "documents/document_title", locals: {document: @document} %>
	  </section>

	  <section class="break"></section>
	  
	  <section class="document-body group">
	    <%= render partial: "documents/document_body", locals: {document: @document} %>    
	  </section>
	</article>

	</section>

  <section class="articles">
  	<%= render partial: "annotation", collection: @annotations %>
  </section>
</article>