<section class="articles">
	
	<article class="document-annotated group">

		<%= render partial: "documents/standalone_document", locals: {document: @document} %>

	  <section class="articles annotations">
	  	<%= render partial: "annotation", collection: @annotations %>
	  </section>
	</article>
	
</section>