<article class="document-annotated group">

	<section class="articles">

		<%= render partial: "documents/document", locals: {document: @document} %>

	</section>

  <section class="articles">
  	<%= render partial: "annotation", collection: @annotations %>
  </section>
</article>