<article class="document-annotated group">

	<section class="article">

		<%= render partial: "documents/document", locals: {document: @document} %>
		
	</section>

	<%= render partial: "annotation", collection: @annotations %>
</article>