/* Place all the styles related to the annotations controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

a.annotation-link:link {
	color: #9F3BFF;
	position: relative;
}

a.annotation-link:visited {
	color: #9F3BFF;
	position: relative;
}

a.annotation-link:hover {
	font-style: normal;
	background: #9F3BFF;
	color: #fff;
	position: relative;
}

.annotation-title {
	display: block;
	text-align: center;
	font-size: 25px;
	margin: 10px auto;
	padding-bottom: 5px;
	border-bottom: 3px solid #ffc31c;
}

.annotation-body {
	display: block;
	text-align: left;
	margin: 20px 10px;
	text-indent: 10px;
}

section.annotations {
	// position: fixed;
	margin: 10px 10px 50px 10px;
	float: right;
}

.document-annotated {
	display: block;
	float: left;
	width: 800px;
	margin-bottom: 50px;
}

.annotation-wrapper {
	// position: absolute;
	float: right;
	display: block;
	width: 210px;
	border: 3px solid #ffc31c;
	background: white;
}

.votes {
	display: block;
	width: 200px;
	margin: auto;
	float: left;
	margin-bottom: 5px;
}

.annotation {
	display: block;
	border-bottom: 3px solid #ffc31c;
	margin-bottom: 5px;
}

// .annotation-highlight{
// 	display: inline-block;
// 	position: relative;
// }

.button > .vote {
	float: left;
}

.annotation-buttons {
	margin-top: 3px;
}


// New Annotation

form.new-annotation {
  display: block;
  margin: 25px auto;
  background: #fff;
  // border-radius: 5px;
}