/* Place all the styles related to the annotations controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

a.annotation-link:link {
	color: #9F3BFF;
}

a.annotation-link:visited {
	color: #9F3BFF;
}

a.annotation-link:hover {
	font-style: normal;
	background: #9F3BFF;
	color: #fff;
}

.annotation-title {
	display: block;
	float: center;
	text-align: left;
	font-size: 25px;
	margin: 10px auto;
}

.annotation-body {
	display: block;
	float: left;
	margin: 10px auto;
}

article.annotation {
	display: block;
	float: left;
	width: 200px;
}

section.annotation {
	display: block;
	float: left;
	width: 210px;
	border-radius: 15px;
	border: 3px groove #D1A1FF;
}

article.document-annotated {
	display: block;
	float: left;
	width: 700px;
}

.votes {
	display: block;
	width: 200px;
	margin: auto;
}

.button > .vote {
	float: left;
}

