/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1, h2, h3, p, div, a, html, section, article, ul, li {
	font: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}

body {
	background: black;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:active {
}

a:link {
	color: #00C6BE;
}

a:visited {
	color: #00C6BE;
}

a:hover {
	font-style: normal;
	color: yellow;
}

.header-wrapper{
}

ul.dropdown {
	display: none;
	float: left;
	width: 0;
	height: 0;
}

.header {
	border: 3px groove #FFF500;
	border-radius: 10px;
	margin: auto 20px;
}

.header > h1 {
	font-size: 35px;
	float: left;
	margin: auto 5px;
}

section.login {
	display: block;
	float: right;
	margin: auto 15px;
}

section.settings {
	display: block;
	float: right;
}

a.settings {
	display: block;
	float: right;
	padding: 12px;
	margin: auto 15px;
	left: 10px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.page-title {
	display: block;
	font-size: x-large;
	margin: 25px auto;
}

section.articles {
	display: block;
	margin: auto 25px;
}

.notices {
	display: block;
	margin: auto 25px;
}

p.error {
	display: block;
	border: #FF7100 dotted 2px;
	color: #FF7100;
}

p.notice {
	display: block;
	border: #00C6BE dotted 2px;
	color: #00C6BE;
}