/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require gritter
 */


/*Resets*/

h1, h2, h3, label, form, body, p, div, a, html, section, article, ul, li {
	font: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "FontAwesome", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"]{
	vertical-align: baseline;
}

/*Basic Settings*/

body {
	background: #ddd;
	color: black;
	margin: auto;
	font-size: 25px;
}

section.body {
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	border-left: 3px solid #ccc;
	border-right: 3px solid #ccc;
}

ul {
	list-style: none;
}

i {
	font-family: 'font-awesome';
	width: 20px;
	height: 20px;
}

a {
	text-decoration: none;
}

a:active {
}

a:link {
	color: #00C6BE;
}

a:visited {
	color: #00C6BE;
}

a:hover {
	font-style: normal;
	color: #9F3BFF;
}

section.body {
  display: block;
  width: 1000px;
  margin: auto auto;
}

.page-title {
	display: block;
	font-size: 40px;
	margin: 25px auto;
}

.notices {
	display: block;
	margin: auto 25px;
}

p.error {
	margin: 5px auto;
	display: block;
	border: #FF7100 solid 2px;
	color: #FF7100;
	padding: 5px;
}

p.notice {
	margin: 5px auto;
	display: block;
	border: #00C6BE solid 2px;
	color: #00C6BE;
	padding: 5px;
}

.group:after {
 content: "";
 clear: both;
 display: block;
}