// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.author {
	display: block;
	margin: 20px 25px;
 float: left;
 width: 700px;
 border: 2px solid #D1A1FF;
}

.author p {
 margin: 5px 5px;
}

.section-title {
	display: block;
	padding: 0 5px;
	margin-top: 10px;
}

article.standalone-document {
	display: inline-block;
	width: 400px;
}

h2.author-name  {
	margin: 0;
	display: block;
	text-align: center;
}

.author-name a{
	display: block;
	padding: 20px 20px;
	font-size: 20px;
}

.author-name a:hover{
	color: #fff;
	background-color: #9F3BFF;
}