// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.annotation {
	// display: inline-block;
}

.document-title {
	display: block;
	float: left;
	font-size: large;
	margin: 10px auto;
}

.document-body {
	display: block;
	float: left;
}

.document-text {
	display: inline;
}

.page-title {
	display: block;
	font-size: x-large;
	margin: 25px auto;
}

label.new-document{

}

form.new-annotation {
	display: block;
	margin: 25px auto;
}