/* Place all the styles related to the documents controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

section.articles {
	display: block;
	margin: auto 25px;
	float: left;
	width: 700px;
}

.document-paragraph {
	margin-bottom: 10px;
}

section.index {
	display: block;
	float: left;
	width: 700px;
}

article.document {
	display: inline-block;
	width: 300px;
}

section.document-title {
	border: none;
}

h2.document-title {
	display: block;
	float: center;
	text-align: left;
	font-size: 25px;
	margin: 20px auto;
	border: 2px solid #D1A1FF;
	// box-shadow: 4px 3px 3px 1px rgba(0,0,0,.4);
}

.document-column {
	float: left;
}

a.document-title {
	display: block;
	float: center;
	text-align: left;
	padding: 15px 15px;
}

a.document-title:hover{
	color: white;
	background-color: #9F3BFF;
}

a.document-title:active {
	background-color: #7F2FCC;
	color: #fff;
}

.document-text {
	margin: 5px 5px;
}

section.standalone-document {
	display: inline-block;
	width: 500px;
}

section.single-document {
	width: 500px;
	margin: 0 0 0 0;
}

.break {
	width: 400px;
	height: 20px;
}

.document-body {
	display: block;
	border: 2px solid #D1A1FF;
	padding: 10px 10px;
	// box-shadow: 4px 3px 3px 1px rgba(0,0,0,.4);
}

article.document {
	margin: auto 5px;
}

.new-document {
	margin: 20px 20px 20px 0;
}