/* Place all the styles related to the documents controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

section.articles {
	display: block;
	margin: auto 25px;
 float: left;
 width: 700px;
}

section.index {
	display: block;
	float: left;
	width: 700px;
}

article.document {
	display: inline-block;
	width: 300px;
}

section.document-title {
		border: none;
}

// .document-body {
// 	display: block;
// 	float: left;
// }

h2.document-title {
	display: block;
	float: center;
	text-align: left;
	font-size: 25px;
	margin: 20px auto;
	border: 2px solid #00524F;
	border-radius: 10px;
}

a.document-title {
	display: block;
	float: center;
	text-align: left;
	margin: 5px 5px;
}

.document-text {
	display: inline;
	margin: 5px 5px;
}

article.standalone-document {
	display: inline-block;
	width: 400px;
}

.break {
	width: 400px;
	height: 20px;
}

.document-body {
	display: block;
	border: 2px solid #00524F;
	border-radius: 10px;
}

article.document {
	margin: auto 5px;
}