/* Place all the styles related to the annotations controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

.footer {
	width: 100%;
	background-color: #fff;
	border: 3px solid #ccc;
}

.footer a:hover {
	background-color: #9F3BFF;
	color: #fff;
}

.footer a:active{
	background-color: #7F2FCC;
	color: #fff;
}

.footer-title {
}

.footer-title > a {
	font-size: 25px;
	color: #bbb;
	float: left;
	padding: 5px 5px;
}

.footer-list {
	float: right;
	font-size: 15px;
}

.footer-list > li {
	float: left;
}

.footer-list > li > a {
	display: block;
	padding: 10px 10px;
	color: #bbb;
}

.footer-list > li > a:hover {
	display: block;
}

.footer-list > li > a:active {
	display: block;
}