.header-wrapper{
  /*Only empty until dropdown navigation is up*/
}

.dropdown > ul {
  display: none;
  float: left;
  width: 0;
  height: 0;
  list-style-type: none;
}

ul.dropdown > li {

}

.header-wrapper {
  margin: auto 20px;
}

.header {
	border: 3px groove #D1A1FF;
	border-radius: 10px;
}

.header-title {
	font-size: 35px;
	float: left;
	margin: 1px 5px;
}

a.login-link {
  display: block;
  padding: 12px;
  float: right;
  margin: auto;
}

section.settings {
  display: block;
  float: right;
}

a.settings {
  display: block;
  float: right;
  padding: 12px;
  margin: auto;
}

p.welcome {
  display: block;
  float: right;
  padding: 12px;
  margin: auto 15px;
}

nav.nav {
  display: block;
	border: 3px groove #D1A1FF;
	border-radius: 10px;
}

nav.nav > ul.nav-alpha {
  list-style-type: none;
  display: block;
  float: left;
  margin: auto 10px;
}

nav.nav > ul.nav-beta {
  list-style-type: none;
  display: block;
  float: right;
}

nav.nav > .nav-alpha > li > a.nav-link {
  display: block;
  float: left;
  font-size: 15px;
  padding: 5px 5px;
  margin: auto;
}