.header-wrapper{
  /*Only empty until dropdown navigation is up*/
}

.header-wrapper {
  margin: auto 20px;
  width: 960px;
  height: 78px;
}

.navbar-wrapper {
  margin: auto auto;
  position: absolute;
  width: 960px;
}

.dropdown > ul {
  display: none;
  float: left;
  width: 0;
  height: 0;
  list-style-type: none;
}

.user-info {
  float: right;
  list-style: none;
}

.user-info > li{
  display: block;
  float: left;
  position: relative;
}

.dropdown > li {

}

.header {
	border: 3px solid #D1A1FF;
	// border-radius: 10px;
  background: white;
}

.header-title > a {
	font-size: 35px;
	float: left;
	padding: 3px 5px 4px 5px;
}

a.login-link {
  display: block;
  padding: 13px 12px;
  margin: auto;
}

.header-wrapper a:hover {
  background: #9F3BFF;
  color: #fff;
}

section.settings {
  display: block;
}

a.settings {
  display: block;
  padding: 13px 12px;
  margin: auto;
}

p.welcome {
  display: block;
  padding: 12px;
  margin: auto 15px;
}


// Lower Nav Bar


nav.nav {
  display: block;
	border: 3px solid #D1A1FF;
	// border-radius: 10px;
  background: white;
}

nav.nav > ul.nav-alpha {
  list-style-type: none;
  display: block;
  float: left;
  margin: auto 10px;
}

nav.nav > ul.nav-beta {
  list-style-type: none;
  display: block;
  float: right;
}

nav.nav > .nav-alpha > li > a.nav-link {
  display: block;
  float: left;
  font-size: 15px;
  padding: 5px 5px;
  margin: auto;
}