// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Notifications Dropdown

.notifications-number-link > a {
  display: block;
  padding: 13px 10px;
  color: #00C6BE;
}

.notifications > a:hover {
  padding: 0 10px;
  padding-top: 8px;
  padding-bottom: 14px;
  color: #00C6BE;
}

.notifications-number-link > a:hover {
  color: #fff;
  background: #9F3BFF;
}

.notification-number {
  display: inline;
  background: #333;
  padding: 3px 7px 3px 7px;
  border-radius: 15px;
  font-size: 16px;
}

.notifications-dropbown {
  display: none;
  position: absolute;
  left: -80px;
  background: #fff;
  border-left: 3px solid #D1A1FF;
  border-right: 3px solid #D1A1FF;
  border-bottom: 3px solid #D1A1FF;
  list-style: none
}

.notifications-dropbown > .notification {
  width: 200px;

}

li:hover > .notifications-dropbown {
  display: block;
}

.notifications-dropbown > li {
  border-top: 3px solid #D1A1FF;
}

.notifications-dropbown > li > a {
  display: block;
  padding: 15px;
}

.notifications-dropbown > li > a:hover {
  background: #9F3BFF;
  color: #fff;
}

// Notifications Page

article.notifications {
	border: 2px solid #ffc31c;
	// border-radius: 10px;
	display: block;
	margin: 20px 20px;
}

.notifications-title{
	padding: 10px 10px;
	border-bottom: 2px solid #ffc31c;
}

article.notifications ul {
	padding: 10px 10px;
}

.notifications a {
	padding: 5px;
  display: block;
}

.notifications a:hover {
  color: #fff;
}

.notifications a:hover {
  color: #fff;
}