.search input{
	padding: 2px 2px;
	display: block;
}

.search-bar {
	border: 3px solid #000;
	border-radius: 10px;
	float: left;
	margin: 7px 10px 7px 100px;
}

.search-button{
	float: left;
	padding: 3px 5px;
	margin: 7px 0 7px 0px;
}