/* Place all the styles related to the users controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ */

form.new-user {
  background: #fff;
  padding: 50px;
  width: 300px;
  margin: 50px auto;
  // border-radius: 5px;
}

section.new-user-page > form > h2 {
  text-align: center;
  color: #780ECF;
}

.input > label {
  display: block;
  font-weight: bold;
}

.submit > input {
  position: relative;
  display: inline-block;
  background: #0c0;
  color: #000;
  padding: 10px 20px;
  // border-radius: 5px;
  font-weight: bold;
  // box-shadow: 0 3px 0 0 #070;
}

.submit > input:hover {
  background: #0b0;
}

.submit > input:active {
  top: 3px;
  box-shadow: none;
  background: #0a0;
}